certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
filelock==3.16.1
fsspec==2024.10.0
huggingface-hub==0.26.5
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.0
packaging==24.2
Pygments==2.18.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
safetensors==0.4.5
shellingham==1.5.4
tokenizers==0.21.0
tqdm==4.67.1
transformers==4.47.0
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.2.3
